PORT=3001
BASE_URL=http://localhost:3001

DB_CLIENT=mysql2   # ou 'pg' para PostgreSQL
DB_HOST=localhost
DB_PORT=3306       # ou 5432 para PostgreSQL
DB_USER=root
DB_PASSWORD=senha
DB_NAME=instantflyer